# .ebextensions/firebase.config

# Make sure to update the bucket policy on the S3 bucket to
# allow access by the aws-elasticbeanstalk-ec2-role
Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Auth:
                    type: "s3"
                    buckets: ["bucket-smart-waste"]
                    roleName:
                        "Fn::GetOptionSetting":
                            Namespace: "aws:autoscaling:launchconfiguration"
                            OptionName: "IamInstanceProfile"
                            DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
    "/etc/pki/tls/certs/firebaseadminsdk.json":
        mode: "000444"
        owner: root
        group: root
        authentication: "S3Auth"
        source: https://bucket-smart-waste.s3.eu-central-1.amazonaws.com/firebase-adminsdk-4c2e8cb0618f.json